@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #0f172a; /* Slate 900 */
  color: white;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

#root {
  width: 100%;
}